@charset "UTF-8";
/* CSS Document */

/* ##### NAME:  media-queries.css
 * ##### AUTHOR: Nina Mokoosio */

/* Extra small devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
	.weatherCard {
		float: left;
		width: 45%;
	}
	.atmosphereConditions .condition {
		width: 29%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.weatherCard {
		width: 100%;
	}

	.atmosphereConditions .condition {
		width: 30%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.weatherCard {
		width: 30%
	}
	.atmosphereConditions .condition {
		width: 31%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.weatherCard {
		width: 25%
	}

	.atmosphereConditions .condition {
		width: 14%;
	}
}